

@{
    ViewBag.Title = "Оплата";
    Layout = "_Layout";
}

<div class="container-fluid my-lg-5">
    <div class="col text-center">
        <h3>Ваш заказ успешно оформлен!</h3>
        <h3>Данные от аккаунта отправлены Вам на почту.</h3>
    </div>
</div>