
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col text-center my-lg-5">
        <h2>На Вашу почту выслана ссылка для восстановления пароля</h2>
        <a asp-area="" asp-action="Index" asp-controller="Home">Вернуться на главную страницу</a>
    </div>
</div>