

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col text-center my-lg-5">
        <h2>Вы успешно восстановили пароль.</h2>
        <a asp-area="" asp-action="Login" asp-controller="Account">Вход</a>
    </div>
</div>